* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 0 !important;
  height: fit-content;
}

.ctn-principal {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctn-calculator {
  border-radius: 5px;
  background: #323232;
  padding: 5px;
}

.ctn-screen input {
  height: 100px;
  width: 373px;
  font-size: 50px;
  font-weight: 500;
  text-align: right;
  color: #fff;
  background: transparent;
  border: 0;
  outline: none;
  margin-right: 4px;

}

.ctn-linhas {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px 2px 2px 2px;
}

.linha {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 90px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  background: #5d5d5d;
}

.btn-especial, .btn-extra {
  background: #4d4d4d;
}

.btn-equal {
  background: #4799f7;
}

.btn:hover {
  background: #4d4d4d;
}

.btn-especial:hover {
  background: #5d5d5d;
}

.btn-equal:hover {
  background: #3f86d7;
}